# Global owners
* @tietoevry-iot/devops-team

# Service code
/src/RemoteConfig.Api/ @tietoevry-iot/api-team
/src/RemoteConfig.Core/ @tietoevry-iot/architecture-team
/src/RemoteConfig.Infrastructure/ @tietoevry-iot/backend-team

# Tests
/tests/ @tietoevry-iot/qa-team

# Infrastructure
/infra/ @tietoevry-iot/devops-team

# CI/CD
/.github/ @tietoevry-iot/devops-team

# Documentation
/docs/ @tietoevry-iot/tech-writer
/*.md @tietoevry-iot/tech-writer
