<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[RemoteConfig.Tests]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCode,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Include>[RemoteConfig.Core]*,[RemoteConfig.Infrastructure]*,[RemoteConfig.Api]*</Include>
          <Threshold>80</Threshold>
          <CoverageFile>./test-results/coverage.cobertura.xml</CoverageFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
